.header {
  display: flex;
  align-items: center;
  padding-inline: 10px;
  padding-block: 20px;

  width: 100vw;
  &__nav-icon {
    font-size: 30px;
  }

  button {
    border: none;
    background: transparent;
    cursor: pointer;

  }
}
