<article class="input-component">
  <ng-container *ngIf="input.label; else placeholderType">
    <label [for]="input.id">{{input.label}}</label>
    <ng-container *ngIf="input.type !== 'textarea'; else defaultContent">
      <input [type]="input.type" [id]="input.id" class="form-control" required (input)="onInputChange"/>
    </ng-container>
    <ng-template #defaultContent>
      <textarea [id]="input.id" class="form-control" required (input)="onInputChange"></textarea>
    </ng-template>
  </ng-container>
  <ng-template #placeholderType>
    <label [for]="input.id"></label>
    <ng-container *ngIf="input.type !== 'textarea'; else defaultContent">
      <input [type]="input.type" [id]="input.id" class="form-control" required (input)="onInputChange" [placeholder]="input.placeholder"/>
    </ng-container>
    <ng-template #defaultContent>
      <textarea [id]="input.id" class="form-control" required (input)="onInputChange" [placeholder]="input.placeholder"></textarea>
    </ng-template>
  </ng-template>
</article>
