// <article class="article">
//   <header class="article__header">
//     <span aria-label="article title">{{article.title}}</span>
//   </header>
//   <section class="article__date-and-author">
//     <span aria-label="article date">{{article.date}}</span>
//     <span aria-label="article author">{{article.author}}</span>
//   </section>
//   <section class="article__content">
//     <p>{{article.content}}</p>
//   </section>
// </article>

.article {
  display: flex;
  flex-direction: column;
  padding: 10px;

  &__date-and-author {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__content {
    text-overflow: ellipsis;
    white-space: nowrap;

  }
}

