// <article class="article">
//   <header class="article__header">
//     <span aria-label="article title">{{article.title}}</span>
//   </header>
//   <section class="article__date-and-author">
//     <span aria-label="article date">{{article.date}}</span>
//     <span aria-label="article author">{{article.author}}</span>
//   </section>
//   <section class="article__content">
//     <p>{{article.content}}</p>
//   </section>
// </article>

.article {
  display: flex;
  flex-direction: column;
  padding: 10px;
  text-decoration: none;
  color: #000;
  height: 100%;
  width: 100%;
  overflow: hidden;
 background-color: transparent;
 transition: all ease-in-out 300ms;
 &:hover {
  box-shadow: 0 0 5px #000;
 }

 &__header {
  padding: 5px;
  height: 20%;
  display: flex;
  align-items: center;
 }

 &__title {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 600;
 }

  &__date-and-author {
    height: 20%;
    display: flex;
    align-items: center;
    align-items: center;
    span {
      margin-right: 10px;
    }
    & > span:last-of-type {
      text-transform:capitalize;
    }

    padding: 5px;
  }

  &__content {
    display: flex;
    max-height: 60%;
    width: 100%;
    overflow: hidden;

  }



}

